#-------- \/ For both local bot and Hcai bot \/ --------

#Slack App Token
SLACK_APP_TOKEN =

#Slack Bot Token
SLACK_BOT_TOKEN =

#-------- \/ Only for Hcai AI bot \/ --------

#Hcai Bot Token
HACKCLUB_AI_KEY =